/** COLOR SHEMING
* other colors should be variations of PRIMARY at varying saturations and lightness
* some colors are just black/white
* border = primary
* input && ring = secondary
* tools like https://coolors.co and https://zippystarter.com/tools/shadcn-ui-theme-generator
* can help with color schemes
*/

/* dark */
:root {
  --background: 142.1 10% 10%;
  --foreground: 142.1 0% 90%;
  --card: 142.1 0% 10%;
  --card-foreground: 142.1 0% 90%;
  --popover: 142.1 10% 5%;
  --popover-foreground: 142.1 0% 90%;
  --primary: 142.1 76.2% 36.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 203 36% 44%;
  --secondary-foreground: 203 36% 10%;
  --muted: 104.1 10% 25%;
  --muted-foreground: 142.1 0% 60%;
  --accent: 104.1 10% 25%;
  --accent-foreground: 142.1 0% 90%;
  --border: 142.1 20% 50%;
  --input: 203 20% 50%;
  --ring: 203 76.2% 36.3%;
  --radius: 0.5rem;
}

[data-theme='light'],
[data-theme='garden'] {
  --background: 142.1 0% 95%;
  --foreground: 142.1 0% 10%;
  --card: 142.1 0% 90%;
  --card-foreground: 142.1 0% 15%;
  --popover: 142.1 0% 95%;
  --popover-foreground: 142.1 95% 10%;
  --primary: 336 56% 62%;
  --primary-foreground: 0 0% 0%;
  --secondary: 179 41% 45%;
  --secondary-foreground: 0 0% 0%;
  --muted: 336 10% 85%;
  --muted-foreground: 142.1 0% 40%;
  --accent: 336 10% 80%;
  --accent-foreground: 142.1 0% 15%;
  --border: 336.1 20% 50%;
  --input: 179 20% 50;
  --ring: 179 76.2% 36.3%;
  --radius: 0.5rem;
}

[data-theme='dark'],
[data-theme='forest'] {
  --background: 142.1 10% 10%;
  --foreground: 142.1 0% 90%;
  --card: 142.1 0% 10%;
  --card-foreground: 142.1 0% 90%;
  --popover: 142.1 10% 5%;
  --popover-foreground: 142.1 0% 90%;
  --primary: 142.1 76.2% 36.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 203 36% 44%;
  --secondary-foreground: 203 36% 10%;
  --muted: 104.1 10% 25%;
  --muted-foreground: 142.1 0% 60%;
  --accent: 104.1 10% 25%;
  --accent-foreground: 142.1 0% 90%;
  --border: 142.1 20% 50%;
  --input: 203 20% 50%;
  --ring: 203 76.2% 36.3%;
  --radius: 0.5rem;
}

[data-theme='sky'] {
  --background: 193 15% 95%;
  --foreground: 193 5% 10%;
  --card: 193 15% 90%;
  --card-foreground: 193 5% 15%;
  --popover: 193 15% 95%;
  --popover-foreground: 193 95% 10%;
  --primary: 210 89% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 193 73% 47%;
  --secondary-foreground: 0 0% 100%;
  --muted: 193 15% 85%;
  --muted-foreground: 193 5% 40%;
  --accent: 193 15% 80%;
  --accent-foreground: 193 5% 15%;
  --border: 210 20% 50%;
  --input: 193 20% 41%;
  --ring: 193 73% 47%;
  --radius: 0.5rem;
}

/* dark themes */
:root,
[data-theme='dark'],
[data-theme='forest'] {
  --success: 116, 100%, 32%;
  --success-foreground: 140, 100%, 100%;
  --warning: 53, 90%, 39%;
  --warning-foreground: 60, 100%, 100%;
  --info: 199, 100%, 41%;
  --info-foreground: 195, 100%, 100%;
  --destructive: 0 100% 41%;
  --destructive-foreground: 193 5% 100%;
}

/* light themes */
[data-theme='sky'],
[data-theme='light'],
[data-theme='garden'] {
  --success: 116, 100%, 47%;
  --success-foreground: 140, 100%, 0%;
  --warning: 59, 87%, 50%;
  --warning-foreground: 60, 100%, 0%;
  --info: 199, 82%, 65%;
  --info-foreground: 195, 100%, 0%;
  --destructive: 0 100% 63%;
  --destructive-foreground: 193 5% 0%;
}
