/* dark */
:root {
  --background: 142.1 10% 10%;
  --foreground: 142.1 0% 90%;
  --card: 142.1 0% 10%;
  --card-foreground: 142.1 0% 90%;
  --popover: 142.1 10% 5%;
  --popover-foreground: 142.1 0% 90%;
  --primary: 142.1 76.2% 36.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 142.1 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 104.1 10% 25%;
  --muted-foreground: 142.1 0% 60%;
  --accent: 104.1 10% 25%;
  --accent-foreground: 142.1 0% 90%;
  --success: 140, 100%, 70%;
  --success-foreground: 140, 100%, 3%;
  --warning: 60, 100%, 75%;
  --warning-foreground: 60, 100%, 10%;
  --info: 195, 100%, 75%;
  --info-foreground: 195, 100%, 10%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 142.1 0% 90%;
  --border: 142.1 20% 50%;
  --input: 142.1 20% 50%;
  --ring: 142.1 76.2% 36.3%;
  --radius: 0.5rem;
}

[data-theme='light'],
[data-theme='garden'] {
  --background: 142.1 0% 95%;
  --foreground: 142.1 0% 10%;
  --card: 142.1 0% 90%;
  --card-foreground: 142.1 0% 15%;
  --popover: 142.1 0% 95%;
  --popover-foreground: 142.1 95% 10%;
  --primary: 142.1 76.2% 36.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 142.1 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 104.1 10% 85%;
  --muted-foreground: 142.1 0% 40%;
  --accent: 104.1 10% 80%;
  --accent-foreground: 142.1 0% 15%;
  --success: 140, 100%, 70%;
  --success-foreground: 140, 100%, 3%;
  --warning: 60, 100%, 75%;
  --warning-foreground: 60, 100%, 10%;
  --info: 195, 100%, 75%;
  --info-foreground: 195, 100%, 10%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 142.1 0% 90%;
  --border: 142.1 20% 50%;
  --input: 142.1 20% 50%;
  --ring: 142.1 76.2% 36.3%;
  --radius: 0.5rem;
}

[data-theme='dark'],
[data-theme='forest'] {
  --background: 142.1 10% 10%;
  --foreground: 142.1 0% 90%;
  --card: 142.1 0% 10%;
  --card-foreground: 142.1 0% 90%;
  --popover: 142.1 10% 5%;
  --popover-foreground: 142.1 0% 90%;
  --primary: 142.1 76.2% 36.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 142.1 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 104.1 10% 25%;
  --muted-foreground: 142.1 0% 60%;
  --accent: 104.1 10% 25%;
  --accent-foreground: 142.1 0% 90%;
  --success: 140, 100%, 70%;
  --success-foreground: 140, 100%, 3%;
  --warning: 60, 100%, 75%;
  --warning-foreground: 60, 100%, 10%;
  --info: 195, 100%, 75%;
  --info-foreground: 195, 100%, 10%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 142.1 0% 90%;
  --border: 142.1 20% 50%;
  --input: 142.1 20% 50%;
  --ring: 142.1 76.2% 36.3%;
  --radius: 0.5rem;
}

[data-theme='sky'] {
  --background: 193 15% 95%;
  --foreground: 193 5% 10%;
  --card: 193 15% 90%;
  --card-foreground: 193 5% 15%;
  --popover: 193 15% 95%;
  --popover-foreground: 193 95% 10%;
  --primary: 193 73% 47%;
  --primary-foreground: 0 0% 100%;
  --secondary: 193 15% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 155 15% 85%;
  --muted-foreground: 193 5% 40%;
  --accent: 155 15% 80%;
  --accent-foreground: 193 5% 15%;
  --destructive: 0 50% 41%;
  --destructive-foreground: 193 5% 90%;
  --border: 193 20% 50%;
  --input: 193 20% 41%;
  --ring: 193 73% 47%;
  --radius: 0.5rem;
}
