@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('styles/themes.css');

body {
  min-height: 100vh;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

* {
  border-color: hsl(var(--border));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
