@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('styles/themes.css');

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  background: rgba(var(--base-100));
  color: rgba(var(--base-content));
}

body a:active,
a:focus-visible,
button:active,
button:focus-visible {
  outline: solid 2px rgba(var(--primary));
  outline-offset: 0.15rem;
}

body * {
  border-radius: 0.375rem /* 6px - rounded-md */;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
