@tailwind base;
@tailwind components;
@tailwind utilities;

.calm {
  --primary: 86, 159, 113;
  --primary-content: 2, 9, 4;
  --secondary: 123, 183, 139;
  --secondary-content: 5, 12, 7;
  --accent: 107, 139, 199;
  --accent-content: 4, 7, 14;
  --neutral: 156, 156, 150;
  --neutral-content: 9, 9, 8;
  --base-100: 246, 255, 255;
  --base-200: 214, 222, 222;
  --base-300: 183, 190, 190;
  --base-content: 21, 22, 22;
  --info: 133, 224, 255;
  --info-content: 6, 18, 22;
  --success: 112, 255, 148;
  --success-content: 4, 22, 8;
  --warning: 255, 240, 71;
  --warning-content: 22, 20, 2;
  --error: 255, 133, 133;
  --error-content: 22, 6, 6;

  background: rgba(var(--base-100));
  color: rgba(var(--base-content));
}

.forest-dark {
  --primary: 158, 228, 147;
  --primary-content: 9, 18, 8;
  --secondary: 218, 247, 220;
  --secondary-content: 17, 21, 17;
  --accent: 112, 86, 109;
  --accent-content: 225, 219, 224;
  --neutral: 171, 200, 192;
  --neutral-content: 11, 15, 14;
  --base-100: 15, 26, 19;
  --base-200: 11, 21, 15;
  --base-300: 8, 16, 11;
  --base-content: 201, 204, 202;
  --info: 133, 224, 255;
  --info-content: 6, 18, 22;
  --success: 112, 255, 148;
  --success-content: 4, 22, 8;
  --warning: 255, 240, 71;
  --warning-content: 22, 20, 2;
  --error: 255, 133, 133;
  --error-content: 22, 6, 6;

  background: rgba(var(--base-100));
  color: rgba(var(--base-content));
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
